
<div>
  <p>
    ようこそながのCAKEへ！
    <br>このサイトは、ケーキ販売のECサイトになります。
    <br>会員でない方も商品の閲覧はできますが、
    <br>購入には会員登録が必要になります。
  </p>
</div>

<!-- product preview -->
<div>
  <h3>新着商品</h3>
  <div class = "d-flex p-2 bd-highlight">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div><%= image_tag product.get_image(254,185) %></div>
        <div><%= product.name %></div>
      <% end %>
    <% end %>
  </div>

</div>